div ::-webkit-scrollbar {
  width: 10px;
}

div ::-webkit-scrollbar-track {
  border: 2px solid#6493c3;
  border-radius: 20px;
}

div ::-webkit-scrollbar-thumb {
  background-color: #30475e;
  border-radius: 20px;
}
